<router-outlet></router-outlet>
<div style="display: flex; flex-direction: column">
    <form [formGroup]="form" style="margin-bottom: 10px">
        <app-generic-cva
            formControlName="quantity"
            [props]="{ increment: 10 }"
            componentId="custom-cva-quantity-setter"
        ></app-generic-cva>
    </form>
    <textarea readonly style="height: 200px">{{ form.value | json }}</textarea>
    <textarea readonly style="height: 200px">{{ form.errors | json }}</textarea>
</div>

<!-- <app-generic-cva
[formControl]="form.controls['quantity']"
[props]="{ increment: 10 }"
componentId="custom-cva-quantity-setter"
></app-generic-cva>
<textarea readonly style="height: 200px">{{ form.controls['quantity'].errors | json }}</textarea> -->
